@import "../../../variables";

.Components-Table {
    width: 55%;
}

.History-Table {
    &-Last-Header {
        svg.MuiDataGrid-iconSeparator {
            display: none;
        }
    }
}
.History-Table :focus {
    outline: none !important;
}

.Components-Table main {
    align-content: flex-start;
}
