@import "../../../variables";

// For most css Look in HistoryTable Scss

.Components-Table {
    width: 100%;
    height: 80vh;
    border-spacing: 0;
    position: relative;

    // .thead {
    //     box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    // }

    main {
        position: relative;
        scrollbar-width: thin;
        scrollbar-color: rgb(14, 54, 78) #e0e0e0;
        padding-top: 4rem;
        width: 100%;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background-color: darkgrey;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgb(14, 54, 78);
            border-radius: 50px;
        }
    }

    .row {
        width: 100%;
        display: grid;
        box-sizing: border-box;
        vertical-align: middle;
        grid-template-columns: auto auto;
        border-bottom: 1px solid black;
        z-index: 50;
        height: 4rem;
        position: relative;
        width: 100%;

        &:first-child {
            font-weight: 900;
            position: absolute;
            top: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            cursor: pointer;
        }

        &.selected {
            p {
                font-weight: 700;
            }
        }

        p {
            &:first-child {
                padding-left: 1rem;
            }

            &:nth-child(2) {
                text-align: end;
                padding-right: 1rem;
                position: relative;
            }
        }
    }
}
