$background: (
    "blue": rgb(11, 40, 58),
    "white": rgb(255, 255, 255),
);

$accent-colors: (
    "red": rgb(233, 42, 8),
    "orange": rgb(229, 155, 18),
    "green": rgb(126, 211, 33),
);

@mixin line-padding {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    width: 10%;
    border-bottom: 1px solid white;
}

@mixin flexboxCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-container {
    min-height: 100vh;
    background-color: map-get($map: $background, $key: "white");
}

#content-wrapper {
    height: calc(100vh - 70px - 1rem);
}
