.MM-Page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 1rem;
}

.MM-Table {
    width: 100%;
    max-width: 75vw;
    border-spacing: 0;
    overflow-x: hidden;

    thead,
    tbody {
        display: block;
        width: 100%;
    }

    th,
    td {
        display: flex;
        align-items: center;

        &:last-child {
            justify-content: flex-end;
        }
    }

    tr {
        display: flex;
        width: 100%;
        vertical-align: middle;
        border-bottom: 1px solid #000;
    }

    thead {
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);

        th {
            width: 10%;
            font-size: x-large;

            &:nth-child(2) {
                width: 15%;
            }

            &:nth-child(3) {
                width: 65%;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    tbody {
        height: 85vh;
        overflow-y: auto;
        overflow-x: hidden;

        td {
            width: 10%;

            &:nth-child(2) {
                width: 15%;
            }

            &:nth-child(3) {
                width: 60%;
            }

            &:last-child {
                text-align: right;
            }
        }
    }
}
