.MM-Page {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: left;
}

.MM-Table {
    width: 75%;
    border-spacing: 0;

    thead th {
        width: 20%;
        border-bottom: 2px solid black;
        font-size: x-large;

        &:nth-child(3) {
            width: 40%;
        }

        &:last-child {
            text-align: right;
        }
    }
}
