.MM-Page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 1rem;
    box-sizing: border-box;
}

.MM-Table {
    width: 100%;
    max-width: 90vw;
    border-spacing: 0;
    overflow-x: hidden;

    thead,
    tbody {
        display: block;
        width: 100%;
    }

    th,
    td {
        display: flex;
        align-items: center;

        &:nth-child(2) {
            justify-content: center;
        }
    }

    th:nth-child(3) {
        padding-left: 2rem;
        box-sizing: border-box;
    }

    tr {
        display: flex;
        width: 100%;
        vertical-align: middle;
        border-bottom: 1px solid #000;
    }

    thead {
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);

        th {
            width: 7.5%;
            font-size: x-large;

            &:nth-child(2) {
                width: 10%;
            }

            &:nth-child(3) {
                width: 65%;
            }

            &:last-child {
                width: 20%;
            }
        }
    }

    tbody {
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;

        td {
            width: 7.5%;

            &:nth-child(2) {
                width: 10%;
            }

            &:nth-child(3) {
                width: 60%;
            }

            &:last-child {
                width: 20%;
            }
        }
    }
}
