.MM-Uptime {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    div {
        height: 1em;
        width: 10%;
    }
}