@import '../../../variables';

.MM-Uptime {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    div {
        height: 1em;
        width: 10%;

        &.good {
            background-color: map-get($map: $accent-colors, $key: 'green');
        }

        &.bad {
            background-color: map-get($map: $accent-colors, $key: 'orange');
        }
    }
}