@import "../../../variables";

.MM-Uptime {
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: center;
	height: 2rem;
	width: 100%;
	border: 1px solid black;

	// div {
	//     height: 1.75rem;
	//     width: 100%;
	//     display: flex;
	//     flex-direction: row;
	//     justify-content: space-between;
	//     align-items: center;

	//     &.Good {
	//         background-color: map-get($map: $accent-colors, $key: "green");
	//     }

	//     &.Bad {
	//         background-color: map-get($map: $accent-colors, $key: "orange");
	//     }
	// }
}
