@import "../../variables";

.ReactModal__Overlay--after-open {
  z-index: 10;
}

.Lifespan-Modal {
  min-height: 550px;
}

.MaxActions,
.Maintenance,
.Planner {
  width: 80%;
  margin-inline: auto;

  h3 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid black;
    margin: 0;
    margin-top: 0.5rem;
  }

  input,
  textarea {
    margin-top: 1rem;
    border: 1px solid black;
    width: 100%;
    padding-inline: 10px;
    box-sizing: border-box;
  }

  input {
    height: 1.75rem;
    padding: 0;
    border-radius: 50px;
    padding-inline: 8px;
    margin-bottom: 0.5rem;
  }

  textarea {
    resize: none;
    height: 5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }
}

.MaxActions,
.Planner {
  // height: 45%;
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button {
    font-size: 16px;
    align-self: flex-end;
    margin-right: 0;
    margin-bottom: 0.25rem;
  }
}

.Maintenance {
  margin-bottom: 0.75rem;
  height: 30%;

  h3 {
    margin-top: 0;
  }

  .Notification-Container {
    overflow-y: auto;
    max-height: 8rem;
    cursor: ns-resize;

    &::-webkit-scrollbar {
      display: none;
    }

    div {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      padding: 0.5rem;
      padding-block: 0.75rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      p {
        margin: 0;
      }

      svg:hover {
        cursor: pointer;
      }
    }
  }
}

.Lifespan-page {
  width: 100%;
  height: 100%;
  padding-inline: 5rem;
  box-sizing: border-box;

  h1 {
    margin: 0;
    margin-left: calc(10% + 3rem);
  }

  .center-table {
    display: flex;
    justify-content: center;
    height: 80%;
  }
}
