.actionsgraph-container {
    height: 80%;
    width: 90%;
    margin-top: 1.5rem;
    position: relative;

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#Actions-Graph {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &.invisible {
        opacity: 0;
    }

    svg {
        margin-top: 0.5rem;
        margin-bottom: -2.5rem;
        height: 100%;
        width: 100%;
        position: relative;

        .tooltip-area {
            position: absolute;
            background-color: red;
        }
    }

    input {
        margin-bottom: 0.5rem;
        margin-right: 0.5rem;
    }
}

.invisible {
    opacity: 0;
}
