.actionsgraph-container {
    height: 80%;
    width: 75%;
    margin-top: 4rem;
    position: relative;

    .loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

#Actions-Graph {
    height: 100%;
    width: 100%;

    &.invisible {
        opacity: 0;
    }

    svg {
        height: 100%;
        width: 100%;
    }

    #amount-timespan {
        width: 50px;
        padding: 0;
    }

    #timespan-select {
        margin-right: 10px;
    }

    #amount-timespan, #timespan-select {
        height: 30px;
        border: none;
        outline: 1px solid black;
        margin-bottom: 1rem;
    }
}

.invisible {
    opacity: 0;
}